<div class="justify-content-center align-items-center d-flex my-3">
  <p class="text-danger mr-5">*為必填欄位</p>
  <h2>新增支出</h2>
</div>

<div class="container my-2 p-2">
  <div class="row">
    <div class="col-5 mx-auto">
      <form action="/records/create" method="POST">

        {{>recordForm}}

      </form>
    </div>
  </div>
</div>
